<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

	<!-- 定义日志输出目标 -->
	<targets async="true">
		<!-- 输出到文件 -->
		<target name="file" xsi:type="File"
				fileName="${basedir}/logs/${shortdate}.log"
				layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=ToString}"
				archiveFileName="${basedir}/logs/archives/{#}.log"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="7"
				keepFileOpen="false"
				encoding="utf-8" />
		<target xsi:type="Console" name="console"
		   layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
	</targets>

	<!-- 定义日志规则 -->
	<rules>
		<!-- 添加控制台输出规则 -->
		<logger name="*" minlevel="Info" writeTo="console" />
		<!-- 将所有日志输出到文件 -->
		<logger name="Microsoft.AspNetCore.Server.Kestrel" minlevel="Error" writeTo="file" final="true" />

		<!-- 禁用 Microsoft 和 System 命名空间的 DEBUG 日志 -->
		<logger name="Microsoft.*" minlevel="Warn" writeTo="file" final="true" />
		<logger name="System.*" minlevel="Warn" writeTo="file" final="true" />
		<logger name="*" minlevel="Info" writeTo="file" />
	</rules>
</nlog>